[submodule "doc/extensions/numpydoc"]
	path = doc/extensions/numpydoc
	url = https://github.com/numpy/numpydoc.git
[submodule "doc/extensions/sphinx_rtd_theme"]
	path = doc/extensions/sphinx_rtd_theme
	url = https://github.com/snide/sphinx_rtd_theme.git
